/*
*  CoreWebFramework
*  By James Jenkins
*/
/* Variables */
/*
*  CoreWebFramework
*  By James Jenkins
*/
/* Media Query Breakpoints */
/* Fonts */
/* Colors */
/* Core CSS */
/*
*  CoreWebFramework
*  By James Jenkins
*/
/* ==== CSS RESET ==== */
/* line 8, ../sass/_core.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_core.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/_core.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/_core.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/_core.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/_core.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_core.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==== CSS DEFAULTS ==== */
/* line 53, ../sass/_core.scss */
body {
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #FAFAFA;
  background: #FAFAFA;
}

/* ==== CSS 12 column GRID ==== */
/* 100/(12/7) */
/* line 63, ../sass/_core.scss */
.grid-container {
  width: 100%;
  max-width: 1200px;
}

/* cleafix hack */
/* line 68, ../sass/_core.scss */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 74, ../sass/_core.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
}

/*-- set border box on all elements inside the grid --*/
/* line 80, ../sass/_core.scss */
.grid-container * {
  box-sizing: border-box;
}

/* line 84, ../sass/_core.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
  /*-- our gutter --*/
  padding: 12px;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* line 96, ../sass/_core.scss */
  .col-xs-1 {
    width: 8.33%;
  }

  /* line 99, ../sass/_core.scss */
  .col-xs-2 {
    width: 16.66%;
  }

  /* line 102, ../sass/_core.scss */
  .col-xs-3 {
    width: 25%;
  }

  /* line 105, ../sass/_core.scss */
  .col-xs-4 {
    width: 33.33%;
  }

  /* line 108, ../sass/_core.scss */
  .col-xs-5 {
    width: 41.66%;
  }

  /* line 111, ../sass/_core.scss */
  .col-xs-6 {
    width: 50%;
  }

  /* line 114, ../sass/_core.scss */
  .col-xs-7 {
    width: 58.33%;
  }

  /* line 117, ../sass/_core.scss */
  .col-xs-8 {
    width: 66.66%;
  }

  /* line 120, ../sass/_core.scss */
  .col-xs-9 {
    width: 75%;
  }

  /* line 123, ../sass/_core.scss */
  .col-xs-10 {
    width: 83.33%;
  }

  /* line 126, ../sass/_core.scss */
  .col-xs-11 {
    width: 91.66%;
  }

  /* line 129, ../sass/_core.scss */
  .col-xs-12 {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 136, ../sass/_core.scss */
  .col-s-1 {
    width: 8.33%;
  }

  /* line 139, ../sass/_core.scss */
  .col-s-2 {
    width: 16.66%;
  }

  /* line 142, ../sass/_core.scss */
  .col-s-3 {
    width: 25%;
  }

  /* line 145, ../sass/_core.scss */
  .col-s-4 {
    width: 33.33%;
  }

  /* line 148, ../sass/_core.scss */
  .col-s-5 {
    width: 41.66%;
  }

  /* line 151, ../sass/_core.scss */
  .col-s-6 {
    width: 50%;
  }

  /* line 154, ../sass/_core.scss */
  .col-s-7 {
    width: 58.33%;
  }

  /* line 157, ../sass/_core.scss */
  .col-s-8 {
    width: 66.66%;
  }

  /* line 160, ../sass/_core.scss */
  .col-s-9 {
    width: 75%;
  }

  /* line 163, ../sass/_core.scss */
  .col-s-10 {
    width: 83.33%;
  }

  /* line 166, ../sass/_core.scss */
  .col-s-11 {
    width: 91.66%;
  }

  /* line 169, ../sass/_core.scss */
  .col-s-12 {
    width: 100%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 176, ../sass/_core.scss */
  .col-m-1 {
    width: 8.33%;
  }

  /* line 179, ../sass/_core.scss */
  .col-m-2 {
    width: 16.66%;
  }

  /* line 182, ../sass/_core.scss */
  .col-m-3 {
    width: 25%;
  }

  /* line 185, ../sass/_core.scss */
  .col-m-4 {
    width: 33.33%;
  }

  /* line 188, ../sass/_core.scss */
  .col-m-5 {
    width: 41.66%;
  }

  /* line 191, ../sass/_core.scss */
  .col-m-6 {
    width: 50%;
  }

  /* line 194, ../sass/_core.scss */
  .col-m-7 {
    width: 58.33%;
  }

  /* line 197, ../sass/_core.scss */
  .col-m-8 {
    width: 66.66%;
  }

  /* line 200, ../sass/_core.scss */
  .col-m-9 {
    width: 75%;
  }

  /* line 203, ../sass/_core.scss */
  .col-m-10 {
    width: 83.33%;
  }

  /* line 206, ../sass/_core.scss */
  .col-m-11 {
    width: 91.66%;
  }

  /* line 209, ../sass/_core.scss */
  .col-m-12 {
    width: 100%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 216, ../sass/_core.scss */
  .col-l-1 {
    width: 8.33%;
  }

  /* line 219, ../sass/_core.scss */
  .col-l-2 {
    width: 16.66%;
  }

  /* line 222, ../sass/_core.scss */
  .col-l-3 {
    width: 25%;
  }

  /* line 225, ../sass/_core.scss */
  .col-l-4 {
    width: 33.33%;
  }

  /* line 228, ../sass/_core.scss */
  .col-l-5 {
    width: 41.66%;
  }

  /* line 231, ../sass/_core.scss */
  .col-l-6 {
    width: 50%;
  }

  /* line 234, ../sass/_core.scss */
  .col-l-7 {
    width: 58.33%;
  }

  /* line 237, ../sass/_core.scss */
  .col-l-8 {
    width: 66.66%;
  }

  /* line 240, ../sass/_core.scss */
  .col-l-9 {
    width: 75%;
  }

  /* line 243, ../sass/_core.scss */
  .col-l-10 {
    width: 83.33%;
  }

  /* line 246, ../sass/_core.scss */
  .col-l-11 {
    width: 91.66%;
  }

  /* line 249, ../sass/_core.scss */
  .col-l-12 {
    width: 100%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 256, ../sass/_core.scss */
  .col-xl-1 {
    width: 8.33%;
  }

  /* line 259, ../sass/_core.scss */
  .col-xl-2 {
    width: 16.66%;
  }

  /* line 262, ../sass/_core.scss */
  .col-xl-3 {
    width: 25%;
  }

  /* line 265, ../sass/_core.scss */
  .col-xl-4 {
    width: 33.33%;
  }

  /* line 268, ../sass/_core.scss */
  .col-xl-5 {
    width: 41.66%;
  }

  /* line 271, ../sass/_core.scss */
  .col-xl-6 {
    width: 50%;
  }

  /* line 274, ../sass/_core.scss */
  .col-xl-7 {
    width: 58.33%;
  }

  /* line 277, ../sass/_core.scss */
  .col-xl-8 {
    width: 66.66%;
  }

  /* line 280, ../sass/_core.scss */
  .col-xl-9 {
    width: 75%;
  }

  /* line 283, ../sass/_core.scss */
  .col-xl-10 {
    width: 83.33%;
  }

  /* line 286, ../sass/_core.scss */
  .col-xl-11 {
    width: 91.66%;
  }

  /* line 289, ../sass/_core.scss */
  .col-xl-12 {
    width: 100%;
  }
}
/* Custom CSS */
/*
*  CoreWebFramework
*  By James Jenkins
*/
