/*
*  CoreWebFramework
*  By James Jenkins
*/

/* Media Query Breakpoints */
$breakpoint-phonesmall: 320px;
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;

/* Fonts */
$font-default: Arial, "Helvetica Neue", Helvetica, sans-serif;


/* Colors */
$color-font-default: #333;
$color-background-default: #FAFAFA;
